<body>


    <% data.forEach((item)=>{%>
        <ul>
            <li>
                <%=item.name%>
                    <img src="<%=item.url%>">
            </li>

        </ul>
        <%} );%>
</body>